*{
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}

.active{
    background-color: #422ad5;
    color: #fff;
}

@media screen and (max-width: 1024px){
    .navbar-end{
        display: none;
    }
}